.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 647px;
}

.u-section-2 .u-products-1 {
  min-height: 548px;
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  height: auto;
  grid-gap: 13px 13px;
  margin: 50px auto 50px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  grid-gap: 13px 13px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px -10px 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px -10px 0 10px;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px -10px 0 10px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2 .u-products-1 {
    min-height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-2 .u-products-1 {
    min-height: 1039px;
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
  }

  .u-section-2 .u-image-3 {
    margin-top: 135px;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-products-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 411px;
    margin-right: initial;
  }

  .u-section-2 .u-image-2 {
    height: 411px;
    margin-right: initial;
  }

  .u-section-2 .u-image-3 {
    height: 411px;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-1 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-2 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-3 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: 25px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 647px;
}

.u-section-3 .u-products-1 {
  min-height: 548px;
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  height: auto;
  grid-gap: 13px 13px;
  margin: 50px auto 50px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  grid-gap: 13px 13px;
}

.u-section-3 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-products-1 {
    min-height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-3 .u-products-1 {
    min-height: 1039px;
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
  }

  .u-section-3 .u-image-3 {
    margin-top: 135px;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-products-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 411px;
    margin-right: initial;
  }

  .u-section-3 .u-image-2 {
    height: 411px;
    margin-right: initial;
  }

  .u-section-3 .u-image-3 {
    height: 411px;
    margin-top: 778px;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-1 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-2 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-3 {
    height: 298px;
    margin-top: 691px;
    margin-right: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 25px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 647px;
}

.u-section-4 .u-products-1 {
  min-height: 548px;
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  height: auto;
  grid-gap: 13px 13px;
  margin: 50px auto 50px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  grid-gap: 13px 13px;
}

.u-section-4 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-4 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-4 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-products-1 {
    min-height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-4 .u-products-1 {
    min-height: 1039px;
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
  }

  .u-section-4 .u-image-3 {
    margin-top: 208px;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-products-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 411px;
    margin-right: initial;
  }

  .u-section-4 .u-image-2 {
    height: 411px;
    margin-right: initial;
  }

  .u-section-4 .u-image-3 {
    height: 411px;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-1 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-2 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-3 {
    height: 298px;
    margin-right: initial;
  }

  .u-section-4 .u-text-5 {
    margin-top: 25px;
  }
}