<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Dashboard</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link href="./bootstrap/css/bootplus.css" rel="stylesheet">
  <style type="text/css">
  <style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .hero-unit {
    padding: 30px;
  }
  @media (max-width: 980px) {
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
</style>
<link href="./bootstrap/css/bootplus-responsive.css" rel="stylesheet">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
<link rel="apple-touch-icon-precomposed" href="#">
<link rel="shortcut icon" href="#">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
  <script>
    function myFunction() {
      confirm("Are you sure you want to void this order?");
    }
  </script>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Greyson Management Portal</a>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            Logged in as <a href="#" class="navbar-link">Owner</a>
          </p>
          <ul class="nav">
            <li class="active"><a href="index.html">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <div class="sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Statistics</li>
            <li><a href="ownerdashboard.html">Sitewide Stats</a></li>
            <li class="nav-header">Management</li>
            <li><a href="owner-allsellers.html">All Sellers</a></li>
            <li><a href="owner-allskus.html">All Items</a></li>
            <li class="active"><a href="owner-allpartners.html">All Non profits</a></li>

          </ul>
        </div><!--/.well -->
      </div><!--/span-->

      <div class="span10">
        <h2>View All Partners</h2>

        <div id="app">
        	<table class="table table-striped">
        		<thead>
             <tr>
               <th>Partner Name</th>
               <th>Action</th>
               <th>Type</th>
               <th>Sales Amount</th>
               <th>Total Contributions</th>
             </tr>
           </thead>
           <tbody>
             <tr v-for="item in currentPageItems" :key="item.id">
              <td>St. Lucy's Church</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$4,000</td>
              <td>$400</td>
              
            </tr>
                <tr v-for="item in currentPageItems" :key="item.id">
              <td>St Antoninus Catholic Church</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$4221.22</td>
              <td>$290</td>
              
            </tr>
                <tr v-for="item in currentPageItems" :key="item.id">
              <td>Cathedral Basilica of the Sacred Heart</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$3,0210</td>
              <td>$230</td>
              
            </tr>
            <tr v-for="item in currentPageItems" :key="item.id">
              <td>Boy's and Girl's Club</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$3,450</td>
              <td>$450</td>
              
            </tr>
            <tr v-for="item in currentPageItems" :key="item.id">
              <td>The Girl Scouts</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$1,634</td>
              <td>$340</td>
              
            </tr>
            <tr v-for="item in currentPageItems" :key="item.id">
              <td>The Boy Scouts</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$6,120</td>
              <td>$200</td>
              
            </tr>
            <tr v-for="item in currentPageItems" :key="item.id">
              <td>St. Dominics Prep School</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$2,403</td>
              <td>$800</td>
              
            </tr>
            <tr v-for="item in currentPageItems" :key="item.id">
              <td>Sain Peter's Prep School</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$7,450</td>
              <td>$650</td>
              
            </tr>
            <tr v-for="item in currentPageItems" :key="item.id">
              <td>Hudson County Technology School</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$2,200</td>
              <td>$120</td>
              
            </tr>
            <tr v-for="item in currentPageItems" :key="item.id">
              <td>Young Innovators</td>
              <td><a onclick="myFunction()">Disable</a></td>
              <td>Church</td>
              <td>$9,450</td>
              <td>$810</td>
              
            </tr>
          </tbody>
        </table>
        <div>
          <span>Page:</span>
          <button v-for="i in paginatedItems.length" class="btn btn-secondary mr-1" :class="{'btn-success' : currentPage === i }" @click="changePage(i)">
           1
         </button>
       </div>
     </div>
     <script src="./js/allpartners.js"></script>

   </div><!--/span-->
 </div><!--/row-->

 <hr>

 <footer>
  <p>© Greyson 2021</p>
</footer>

</div>
<script src="./bootstrap/js/bootstrap.js"></script>
<script src="./bootstrap/js/bootstrap-min.js"></script>

</body></html>