.App {
  text-align: center;
  background-color:#ffeac0;
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}

.companylogo{
  position: fixed;
  left: 1px;
  top:-20px;
  width:180px; 
  height:125px;
}

.logo{
  position: absolute;
  left: 1px;
  top:1px;
  width:180px; 
  height:125px;
}

input[type=text] {
  position: fixed;
  left: 200px;
  top: 10px;
  width: 550px;
  height: 55px;
  box-sizing: border-box;
  border: 2px solid #ffeac0;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px ;
}

.homebutton{
  position: fixed;
  left:760px;
  top: 15px;
  width:120px;
  background-color: #ffeac0;
  color: black;
  padding: 10px 20px ;
  border:none;
  text-align: center;
  font-size: 15px;
  outline: none;
  
}
.info{
  position: fixed;
  left:880px;
  top: 15px;
  width:120px;
  background-color: #ffeac0;
  color: black;
  padding: 10px 20px ;
  border:none;
  text-align: center;
  font-size: 15px;
  outline: none;
  border-left: 1px solid black;
}

.info1{
  position: fixed;
  left:1000px;
  top: 15px;
  width:120px;
  background-color: #ffeac0;
  color: black;
  padding: 10px 20px ;
  border:none;
  text-align: center;
  font-size: 15px;
  outline: none;
  border-left: 1px solid black;
}
.cart{
  position: fixed;
  left:1130px;
  top: 15px;
  background-color: white;
  color: black;
  padding: 10px 20px ;
  border:none;
  text-align: center;
  font-size: 15px;
  outline: none;
  background-color: #4d94ff;
  color: white;
  border-radius: 5px;
}

.flag{
  position: fixed;
  left: 1248px;
  top:16px;
  width:65px; 
  height:40px;
}

.tabs{
  position: fixed;
  top:75px;
  left:120px;
  background-color: lightblue;
  border: 1.5px solid lightblue;
  border-radius: 10px;
}

.tabs button {
  background-color: lightblue;
  border: none;
  outline: none;
  padding: 16px 30px;
  font-size: 17px;
  border-radius: 10px;
}
/*Sidebar*/
.sidebar {
  position: fixed;
  top:150px;
  left:-270px;
  height: 77%;
  width: 225px;
  transition: all .5s;
  overflow:scroll;
  overflow-x:hidden;

}
.sidebar button {
  width:210px;
  font-size: 18px;
  background-color: lightblue;
  color: black;
  border-top:2px solid lightblue;

}
label #openbutton{
  position: fixed;
  cursor: pointer;
  background: lightblue;
  left: 82px;
  top: 75px;
  font-size: 35px;
  color: black;
  padding: 11px 12px;
  border: 1px solid lightblue;
  border-radius: 10px;
}
label #cancelbutton{
  position: fixed;
  cursor: pointer;
  left:160px;
  height:5px;
  top: 90px;
  font-size: 28px;
  padding: 14.5px 12px;
  
}
#check{
  display: none;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #openbutton{
  left: 82px;
}
#check:checked ~ label #cancelbutton{
  left: 250px;
  top:90px;
}

.sliderslide{
  position:absolute;
  top:150px;
  width:83%;
  height:77%;
  left:17%;
  overflow:scroll;
  overflow-x:hidden;
}
/* #Slideshow */
.images img{
  position:absolute;
  top:0px;
  left:20px;
  height: 400px;
  width: 75%;
  transition: all .15%s ease;
  border: 2px solid black;
  border-radius: 25px;
}

.images input{
  display:none;
}


.dot{
  position:absolute;
  top:400px;
  left:400px;
  display:flex;
  justify-content:center;
  margin:5px;
}
.dot label{
  height:20px;
  width:20px;
  border-radius: 50%;
  border: solid black 3px;
  cursor: pointer;
  margin: 5px;
}
.dot label:hover{
  background: black;
}

#image1:checked ~ .img1{
  margin-left:0;
}
#image2:checked ~ .img2{
  margin-left:-100%;
}

.church{
  position: absolute;
  top:470px;
  left:90px;
  width:200px;
  height:200px;
  background-color:lightblue;
  border: solid black 5px;
  border-radius: 25px;
  outline: none;
  padding-top:10px;
}
  
.school{
  position: absolute;
  top:470px;
  left:330px;
  width:200px;
  height:200px;
  background-color:lightblue;
  border: solid black 5px;
  border-radius: 25px;
  outline: none;
  padding-top:10px;
}
  
.organization{
  position: absolute;
  top:470px;
  left:570px;
  width:200px;
  height:200px;
  background-color:lightblue;
  border: solid black 5px;
  border-radius: 25px;
  outline: none;
  padding-top:10px;
}
.spaces{
  position: absolute;
  top:730px;
  left:0px;
  width:872px;
  height:250px;
  background-color:white;
  border: solid black 2px;
  font-size:45px;
}

.games{
  position: absolute;
  top:1000px;
  left:150px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.games img{
  border-radius: 20px;
  border:none;
  background:none;
}

.baby{
  position: absolute;
  top:1000px;
  left:350px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.baby img{
  border-radius: 20px;
  border:none;
  background:none;
}
.patio{
  position: absolute;
  top:1000px;
  left:550px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.patio img{
  border-radius: 20px;
  border:none;
  background:none;
}

.pets{
  position: absolute;
  top:1250px;
  left:150px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.pets img{
  border-radius: 20px;
  border:none;
  background:none;
}
.pharmacy{
  position: absolute;
  top:1250px;
  left:350px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.pharmacy img{
  border-radius: 20px;
  border:none;
  background:none;
}
.beauty{
  position: absolute;
  top:1250px;
  left:550px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.beauty img{
  border-radius: 20px;
  border:none;
  background:none;
}
.sports{
  position: absolute;
  top:1500px;
  left:150px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.sports img{
  border-radius: 20px;
  border:none;
  background:none;
}
.auto{
  position: absolute;
  top:1500px;
  left:350px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
  
}
.auto img{
  border-radius: 20px;
  border:none;
  background:none;
}
.music{
  position: absolute;
  top:1500px;
  left:550px;
  width:170px;
  height:250px;
  background-color:#ffeac0;
  border:none;
  outline:none;
}
.music img{
  border-radius: 20px;
  border:none;
  background:none;
}
.thumbnail:hover {
    position:relative;
    top:10px;
    left:0px;
    width:160px;
    height:200px;
    display:block;
    z-index:999;
}
.letterpic{
  position: absolute;
  top:1800px;
  left:50px;
  border:1px solid black;
  border-radius: 20px;
  width:250px;
  height:150px;
}

.email{
  position:absolute;
  top:25px;
  left:90px;
  width:300px;
  height:35px;
}
.subscribe{
  position:absolute;
  top:25px;
  left:390px;
  height:35px;
  background-color:lightgreen;
  border:none;
}
.newsletter{
  position: absolute;
  top:1830px;
  left:250px;
}
.about{
  position: absolute;
  top:2000px;
  left:0px;
  background-color:#ffeac0;
  width:950px;
  height: 100px;
  border: 1px solid black;
}
.first{
  position: absolute;
  top:2101px;
  left:90px;
  background-color:#ffeac0;
  width: 194px;
  height: 250px;
  border: 1px solid #ffeac0;
  outline: none;
}

.buttons1{
  position: absolute;
  top:2101px;
  left:290px;
  background-color:#ffeac0;
  width: 194px;
  height: 250px;
  border: 1px solid #ffeac0;
  outline: none;
  padding:22px;
}

.buttons1 button{
  border:none;
  background-color:#ffeac0;
}

.buttons2{
  position: absolute;
  top:2101px;
  left:490px;
  background-color:#ffeac0;
  width: 194px;
  height: 250px;
  border: 1px solid #ffeac0;
  outline: none;
  padding:22px;
}

.buttons2 button{
  border:none;
  background-color:#ffeac0;
}

.buttons3{
  position: absolute;
  top:2101px;
  left:690px;
  background-color:#ffeac0;
  width: 194px;
  height: 260px;
  border: 1px solid #ffeac0;
  outline: none;
  padding: 22px;
}

.buttons3 button{
  border:none;
  background-color:#ffeac0;
}

.copyright{
  position: absolute;
  top:2340px;
  left:30px;
  background-color:#ffeac0;
  width:950px;
  height: 50px;
  border: 1px solid #ffeac0;
  text-align:left;
}