.patiocard1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:80px;
  top:20px;
  height:398px;
  width:300px;
}

.patiocard1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard1 button:hover {
  opacity: 0.7;
}

.price {
  color: grey;
  font-size: 22px;
}

.patioadjust{
  position:absolute;
  top:150px;
  width:100%;
  height:77%;
  left:0%;
  overflow:scroll;
  overflow-x:hidden;
}

.patiocard2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:440px;
  top:20px;
  height:398px;
  width:300px;
}

.patiocard2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard2 button:hover {
  opacity: 0.7;
}

.patiocard3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:790px;
  top:20px;
  height:398px;
  width:300px;
}

.patiocard3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard3 button:hover {
  opacity: 0.7;
}


.patiocard4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:1140px;
  top:20px;
  height:398px;
  width:300px;
}

.patiocard4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard4 button:hover {
  opacity: 0.7;
}

.patiocard5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:80px;
  top:470px;
  height:398px;
  width:300px;
}

.patiocard5 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard5 button:hover {
  opacity: 0.7;
}

.patiocard6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:440px;
  top:470px;
  height:398px;
  width:300px;
}

.patiocard6 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard6 button:hover {
  opacity: 0.7;
}

.patiocard7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:790px;
  top:470px;
  height:398px;
  width:300px;
}

.patiocard7 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard7 button:hover {
  opacity: 0.7;
}

.patiocard8 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:1140px;
  top:470px;
  height:398px;
  width:300px;
}

.patiocard8 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard8 button:hover {
  opacity: 0.7;
}


.patiocard9 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:80px;
  top:920px;
  height:398px;
  width:300px;
}

.patiocard9 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard9 button:hover {
  opacity: 0.7;
}

.patiocard10 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:440px;
  top:920px;
  height:398px;
  width:300px;
}

.patiocard10 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard10 button:hover {
  opacity: 0.7;
}

.patiocard11 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:790px;
  top:920px;
  height:398px;
  width:300px;
}

.patiocard11 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard11 button:hover {
  opacity: 0.7;
}

.patiocard12 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:1140px;
  top:920px;
  height:398px;
  width:300px;
}

.patiocard12 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.patiocard12 button:hover {
  opacity: 0.7;
}


.products-site-footer
{
  position:absolute;
  top:1380px;
  width:100%;
  height:430px;
  background-color:#0065ff;
  color:white;
  padding:15px;
  
}
.products-site-footer h1{
  position:absolute;
  left:560px;
}

.products-site-footer h1{
  position:absolute;
  left:42%;
}
  
.products-site-footer .footer1 button{
  position:absolute;
  left:21%;
  top:80px;
  width:180px;
  background-color:#0065ff;
  border:none;
  outline:none;
}

.products-site-footer .footer2 {
  position:absolute;
  top:110px;
  left:37%;
  width:180px;
}
.products-site-footer .footer2 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.products-site-footer .footer3 {
  position:absolute;
  top:110px;
  left:51%;
  width:180px;
}
.products-site-footer .footer3 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.products-site-footer .footer4 {
  position:absolute;
  top:110px;
  left:66%;
  width:180px;
}
.products-site-footer .footer4 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.products-site-footer .footer5 {
  position:absolute;
  top:350px;
  left:15%;
  width:70%;
  text-align:left;
}
.products-site-footer .footer5 button{
  width:400px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}