.pharmacycard1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:80px;
  top:20px;
  height:398px;
  width:300px;
}

.pharmacycard1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard1 button:hover {
  opacity: 0.7;
}

.price {
  color: grey;
  font-size: 22px;
}

.pharmacyadjust{
  position:absolute;
  top:150px;
  width:100%;
  height:77%;
  left:0%;
  overflow:scroll;
  overflow-x:hidden;
}

.pharmacycard2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:440px;
  top:20px;
  height:398px;
  width:300px;
}

.pharmacycard2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard2 button:hover {
  opacity: 0.7;
}

.pharmacycard3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:790px;
  top:20px;
  height:398px;
  width:300px;
}

.pharmacycard3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard3 button:hover {
  opacity: 0.7;
}


.pharmacycard4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:1140px;
  top:20px;
  height:398px;
  width:300px;
}

.pharmacycard4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard4 button:hover {
  opacity: 0.7;
}

.pharmacycard5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:80px;
  top:470px;
  height:398px;
  width:300px;
}

.pharmacycard5 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard5 button:hover {
  opacity: 0.7;
}

.pharmacycard6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:440px;
  top:470px;
  height:398px;
  width:300px;
}

.pharmacycard6 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard6 button:hover {
  opacity: 0.7;
}

.pharmacycard7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:790px;
  top:470px;
  height:398px;
  width:300px;
}

.pharmacycard7 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard7 button:hover {
  opacity: 0.7;
}

.pharmacycard8 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:1140px;
  top:470px;
  height:398px;
  width:300px;
}

.pharmacycard8 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard8 button:hover {
  opacity: 0.7;
}


.pharmacycard9 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:80px;
  top:920px;
  height:398px;
  width:300px;
}

.pharmacycard9 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard9 button:hover {
  opacity: 0.7;
}

.pharmacycard10 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:440px;
  top:920px;
  height:398px;
  width:300px;
}

.pharmacycard10 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard10 button:hover {
  opacity: 0.7;
}

.pharmacycard11 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:790px;
  top:920px;
  height:398px;
  width:300px;
}

.pharmacycard11 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard11 button:hover {
  opacity: 0.7;
}

.pharmacycard12 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  position: absolute;
  left:1140px;
  top:920px;
  height:398px;
  width:300px;
}

.pharmacycard12 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.pharmacycard12 button:hover {
  opacity: 0.7;
}


.videogame-site-footer1
{
  position:absolute;
  top:1370px;
  width:100%;
  height:430px;
  background-color:#26272b;
  color:white;
  padding:15px;
  text-align:center;
  
}

.videogame-site-footer1 .footer1 button{
  position:absolute;
  left:250px;
  top:80px;
  width:180px;
  background-color:#26272b;
  border:none;
  outline:none;
}

.videogame-site-footer1 .footer2 {
  position:absolute;
  top:110px;
  left:500px;
  width:180px;
}
.videogame-site-footer1 .footer2 button{
  width:180px;
  background-color:#26272b;
  border:none;
  padding:5px 5px;
  outline:none;
}

.videogame-site-footer1 .footer3 {
  position:absolute;
  top:110px;
  left:650px;
  width:180px;
}
.videogame-site-footer1 .footer3 button{
  width:180px;
  background-color:#26272b;
  border:none;
  padding:5px 5px;
  outline:none;
}

.videogame-site-footer1 .footer4 {
  position:absolute;
  top:110px;
  left:850px;
  width:180px;
}
.videogame-site-footer1 .footer4 button{
  width:180px;
  background-color:#26272b;
  border:none;
  padding:5px 5px;
  outline:none;
}

.videogame-site-footer1 .footer5 {
  position:absolute;
  top:350px;
  left:60px;
  width:1220px;
  text-align:left;
}
.videogame-site-footer1 .footer5 button{
  width:180px;
  background-color:#26272b;
  border:none;
  padding:5px 5px;
  outline:none;
}
