.login-site-footer
{
  position:absolute;
  top:815px;
  width:100%;
  height:430px;
  background-color:#0065ff;
  color:white;
  padding:15px;
  
}
.login-site-footer h1{
  position:absolute;
  left:560px;
}

.login-site-footer h1{
  position:absolute;
  left:42%;
}
  
.login-site-footer .footer1 button{
  position:absolute;
  left:21%;
  top:80px;
  width:180px;
  background-color:#0065ff;
  border:none;
  outline:none;
}

.login-site-footer .footer2 {
  position:absolute;
  top:110px;
  left:37%;
  width:180px;
}
.login-site-footer .footer2 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.login-site-footer .footer3 {
  position:absolute;
  top:110px;
  left:51%;
  width:180px;
}
.login-site-footer .footer3 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.login-site-footer .footer4 {
  position:absolute;
  top:110px;
  left:66%;
  width:180px;
}
.login-site-footer .footer4 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.login-site-footer .footer5 {
  position:absolute;
  top:350px;
  left:15%;
  width:70%;
  text-align:left;
}
.login-site-footer .footer5 button{
  width:400px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}