
.vproduct{
  display:grid;
  grid-template-column: 1fr 1fr;

  
}

.vproduct img{
  width:150px;
}

.vproduct button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.vproduct button:hover {
  opacity: 0.7;
}

.product{
  padding:40px;
}


.price {
  color: grey;
  font-size: 22px;
}

.Videogameadjust{
  position:absolute;
  top:150px;
  width:100%;
  height:77%;
  left:0%;
  overflow:scroll;
  overflow-x:hidden;
}

.cart{
  position:absolute;
  top:0px;
  width:300px;
  display:grid;
  grid-template-column:lfr lfr;
}

.cart{
  position:absolute;
  top:0px;
  display:grid;
  grid-template-column:lfr lfr;
  width:515px;
  text-align:center;
  left:32%;
}

.cart img{
  width:150px;
}

.vsite-footer
{
  position:absolute;
  top:4800px;
  width:100%;
  height:430px;
  background-color:#0065ff;
  color:white;
  padding:15px;
  
}
.vsite-footer h1{
  position:absolute;
  left:560px;
}

.vsite-footer h1{
  position:absolute;
  left:42%;
}
  
.vsite-footer .footer1 button{
  position:absolute;
  left:21%;
  top:80px;
  width:180px;
  background-color:#0065ff;
  border:none;
  outline:none;
}

.vsite-footer .footer2 {
  position:absolute;
  top:110px;
  left:37%;
  width:180px;
}
.vsite-footer .footer2 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.vsite-footer .footer3 {
  position:absolute;
  top:110px;
  left:51%;
  width:180px;
}
.vsite-footer .footer3 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.vsite-footer .footer4 {
  position:absolute;
  top:110px;
  left:66%;
  width:180px;
}
.vsite-footer .footer4 button{
  width:180px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

.vsite-footer .footer5 {
  position:absolute;
  top:350px;
  left:15%;
  width:70%;
  text-align:left;
}
.vsite-footer .footer5 button{
  width:400px;
  background-color:#0065ff;
  border:none;
  padding:5px 5px;
  outline:none;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}